<%- include('layout/header.ejs')  %>

<div class="class container">
    <div class="class row">
        <div class="class col-lg-12">
            <h1>Dashboard</h1>
        </div>
        
        <div class="col-4 text-center">

            <h1><% echo $count %></h1>
            <br />
            Categories
        </div>

        <div class="col-4 text-center">

            <h1><% echo $count2 %></h1>
            <br />
            Foods
        </div>

        <div class="col-4 text-center">

            <h1><%?echo $count3; %?></h1>
            <br />
            Total Orders
        </div>

        <div class="col-4 text-center">
            <h1>$<% echo $total_revenue  %>></h1>
            <br />
            Revenue Generated
        </div>

    </div>
</div>

<%- include('layout/footer.ejs')  %>