<%- include('layout/header.ejs')  %>

<div class="container">
    <div class="crow table-responsive text-center">
        <div class="col-lg-4">
            <h1>Dashboard</h1>
        </div>
        <div class="col-4 text-center table-responsive">

            <h1></h1>
            <br />
            Categories
        </div>

        <div class="col-4 text-center table-responsive">

            <h1></h1>
            <br />
            Foods
        </div>

        <div class="col-4 text-center">

            <h1></h1>
            <br />
            Total Orders
        </div>

        <div class="col-4 text-center">
            <h1></h1>
            <br />
            Revenue Generated
        </div>
    </div>
</div>

<%- include('layout/footer.ejs')  %>