<%- include('layout/header.ejs') %>

    <div class="container">
        <div class="login-container mt-5">
            <h2 class="text-center">Login</h2>
            <% if (message) { %>
                <div class="alert alert-danger" role="alert">
                    <%= message %>
                </div>
            <% } %>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Username" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>

<%- include('layout/footer.ejs') %>
