<%- include('layout/header.ejs')  %>

<div class="class container">
    <div class="class row">
        <div class="class col-lg-12">
            <h1>LOGIN</h1>
        </div>
    </div>
</div>

<%- include('layout/footer.ejs')  %>