<%- include('layout/header.ejs')  %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Manage Foods</h1>
            <div class="mb-3">
                <a class="btn btn-primary btn-lg" href="/add_food">Add Food</a>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer.ejs')  %>