        <!-- social Section Starts Here -->
        <section class="social">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a href="index.html" class="navbar-brand"><i class="fas fa-code me-2"></i>Socials</a>
                <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="my-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://www.facebook.com/saviou/"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/>Facebook</a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://www.facebook.com/saviou/"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>Instagram</i></a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://www.facebook.com/saviou/"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>Twitter</i></a>
                        </li>
                    </ul>
                </div>
        </section>
            
        <!-- social Section Ends Here -->

        <!-- footer Section Starts Here -->
        <section class="footer">
            <div class="container text-center">
                <p>All rights reserved. Designed By <a href="https://saviourdagadu.netlify.app/">Saviour Dagadu</a></p>
            </div>
        </section>
        <!-- footer Section Ends Here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.datatables.net/v/bs4/dt-2.0.8/datatables.min.js"></script>
        
    </body>
</html>