        <!-- social Section Starts Here -->
        <section class="social">
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a href="https://www.facebook.com/saviou/"><i class="fas fa-facebook me-1">Facebook</i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/saviour_dagadu/"><i class="fas fa-instagram me-1">Instagram</i></a>
                        <a href="https://www.instagram.com/saviour_dagadu/"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/saviour_dagadu/"><i class="fas fa-twitter me-1">Twitter</i></a>
                        <a href="https://twitter.com/savicode"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- social Section Ends Here -->

        <!-- footer Section Starts Here -->
        <section class="footer">
            <div class="container text-center">
                <p>All rights reserved. Designed By <a href="https://saviourdagadu.netlify.app/">Saviour Dagadu</a></p>
            </div>
        </section>
        <!-- footer Section Ends Here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>