<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiteHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs4/dt-2.0.8/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar Section Starts Here -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand"><i class="fas fa-pizza-slice text-red-500 me-2" style='font-size:48px;color:red'></i>BiteHub</a>
            <!-- <a href="/" class="flex items-center text-gray-800 hover:text-gray-600">
                <i class="fas fa-pizza-slice text-red-500 me-2" style='font-size:48px;color:red'></i>
                <span class="text-2xl font-semibold">BiteHub</span>
            </a> -->
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><img src="/uploads/home.gif" alt="" style="
                            width: 2.5rem; /* Adjust size to be similar to nav image */
                            height: 2.5rem; /* Adjust size to be similar to nav image */
                            margin-right: 0.5rem;"> Home </i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin"><img src="/uploads/social-media.gif" alt="" style="
                            width: 2.5rem; /* Adjust size to be similar to nav image */
                            height: 2.5rem; /* Adjust size to be similar to nav image */
                            margin-right: 0.5rem;"> Admin </i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/category"><img src="/uploads/list.gif" alt="" style="
                            width: 2.5rem; /* Adjust size to be similar to nav image */
                            height: 2.5rem; /* Adjust size to be similar to nav image */
                            margin-right: 0.5rem;"> Category </i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/food"><img src="/uploads/burger.gif" alt="" style="
                            width: 2.5rem; /* Adjust size to be similar to nav image */
                            height: 2.5rem; /* Adjust size to be similar to nav image */
                            margin-right: 0.5rem;"> Foods </i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/order"><img src="/uploads/shopping-cart.gif" alt="" style="
                            width: 2.5rem; /* Adjust size to be similar to nav image */
                            height: 2.5rem; /* Adjust size to be similar to nav image */
                            margin-right: 0.5rem;"> Orders </i></a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <% if (admin) { %>
                        <li class="nav-item">
                            <span class="nav-link">Welcome, <%= admin.name %></span>
                        </li>
                        <!-- Add logout link/icon here -->
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"><img src="/uploads/laptop.gif" alt="" style="
                                width: 2.5rem; /* Adjust size to be similar to nav image */
                                height: 2.5rem; /* Adjust size to be similar to nav image */
                                margin-right: 2.5rem;"> Logout <img src="/uploads/log-out.gif" alt="" style="
                                width: 2.5rem; /* Adjust size to be similar to nav image */
                                height: 2.5rem; /* Adjust size to be similar to nav image */
                                margin-right: 0.5rem; margin-left: 0.5rem;"></a>
                        </li>
                    <% } else { %>
                        <!-- Add login link here if needed -->
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><img src="/uploads/tap.gif" alt="" style="
                                width: 2.5rem; /* Adjust size to be similar to nav image */
                                height: 2.5rem; /* Adjust size to be similar to nav image */
                                margin-right: 0.5rem;"> Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar Section Ends Here -->